{
  "swagger": "2.0",
  "info": {
    "title": "Custodia eDiscovery",
    "description": "Microsoft Graph eDiscovery (Premium) surface for a FOIA / public-records agent. Delegated (on-behalf-of) auth only; every call is bounded by the signed-in reviewer's own Purview eDiscovery role. Covers case, custodian, search, review set, tagging and export operations. Deliberately omits case deletion, purgeData, and legal hold creation or removal - those remain manual actions in the Purview portal.",
    "version": "2.1.0",
    "contact": {
      "name": "Custodia"
    }
  },
  "host": "graph.microsoft.com",
  "basePath": "/v1.0",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
      "scopes": {
        "eDiscovery.ReadWrite.All": "Read and write eDiscovery cases and searches as the signed-in user.",
        "User.Read": "Sign in and read the signed-in user's profile."
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "eDiscovery.ReadWrite.All",
        "User.Read"
      ]
    }
  ],
  "paths": {
    "/security/cases/ediscoveryCases": {
      "get": {
        "operationId": "ListCases",
        "summary": "List eDiscovery cases",
        "description": "Lists the eDiscovery cases the signed-in reviewer is permitted to see. Results are already scoped by the reviewer's Purview eDiscovery role.",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of cases to return.",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "Top"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, for example: status eq 'active'.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "OData sort, for example: createdDateTime desc.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Order by"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of eDiscovery cases.",
            "schema": {
              "$ref": "#/definitions/EdiscoveryCaseCollection"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      },
      "post": {
        "operationId": "CreateCase",
        "summary": "Create an eDiscovery case",
        "description": "Creates a new eDiscovery (Premium) case owned by the signed-in reviewer. Requires explicit reviewer confirmation before it is called.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCaseRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The created case.",
            "schema": {
              "$ref": "#/definitions/EdiscoveryCase"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}": {
      "get": {
        "operationId": "GetCase",
        "summary": "Get an eDiscovery case",
        "description": "Gets a single eDiscovery case by its ID.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested case.",
            "schema": {
              "$ref": "#/definitions/EdiscoveryCase"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      },
      "patch": {
        "operationId": "UpdateCase",
        "summary": "Update a case",
        "description": "Updates the display name, description or external ID of a case. Requires explicit reviewer confirmation.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCaseRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated case.",
            "schema": {
              "$ref": "#/definitions/EdiscoveryCase"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/searches": {
      "post": {
        "operationId": "CreateSearch",
        "summary": "Create a search in a case",
        "description": "Creates an eDiscovery search inside a case using a KQL content query and a data source scope. Requires explicit reviewer confirmation before it is called.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSearchRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The created search.",
            "schema": {
              "$ref": "#/definitions/EdiscoverySearch"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": true
      },
      "get": {
        "operationId": "ListSearches",
        "summary": "List searches in a case",
        "description": "Lists the eDiscovery searches defined in the case.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of items to return.",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "Top"
          }
        ],
        "responses": {
          "200": {
            "description": "The searches in the case.",
            "schema": {
              "$ref": "#/definitions/SearchCollection"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/searches/{ediscoverySearchId}/estimateStatistics": {
      "post": {
        "operationId": "EstimateSearchStatistics",
        "summary": "Estimate search statistics",
        "description": "Starts an asynchronous estimate of the number of items and their volume matching the search. Returns 202 Accepted with a Location header pointing at the operation. Poll ListCaseOperations, then read GetLastEstimateStatistics.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ediscoverySearchId",
            "in": "path",
            "description": "The ID of the eDiscovery search.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EstimateStatisticsRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The estimate has been accepted and is running.",
            "headers": {
              "Location": {
                "description": "URL of the estimateStatisticsOperation created to handle the estimate.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/operations": {
      "get": {
        "operationId": "ListCaseOperations",
        "summary": "List case operations",
        "description": "Lists long-running operations in a case. Poll this until no operation has status notStarted or running before reading estimate results.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of operations to return.",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "Top"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "OData sort, for example: createdDateTime desc.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Order by"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of case operations.",
            "schema": {
              "$ref": "#/definitions/CaseOperationCollection"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/searches/{ediscoverySearchId}/lastEstimateStatisticsOperation": {
      "get": {
        "operationId": "GetLastEstimateStatistics",
        "summary": "Get the last estimate statistics for a search",
        "description": "Reads the most recent completed estimate statistics operation for a search, including indexed and unindexed item counts and volumes.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ediscoverySearchId",
            "in": "path",
            "description": "The ID of the eDiscovery search.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The last estimate statistics operation.",
            "schema": {
              "$ref": "#/definitions/EstimateStatisticsOperation"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/close": {
      "post": {
        "operationId": "CloseCase",
        "summary": "Close a case",
        "description": "Closes an eDiscovery case. Consequential: requires explicit reviewer confirmation. Closing does not delete the case or its records.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "The case was closed."
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/custodians": {
      "get": {
        "operationId": "ListCustodians",
        "summary": "List custodians in a case",
        "description": "Lists the custodians currently associated with the case.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of items to return.",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "Top"
          }
        ],
        "responses": {
          "200": {
            "description": "The custodians in the case.",
            "schema": {
              "$ref": "#/definitions/CustodianCollection"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      },
      "post": {
        "operationId": "CreateCustodian",
        "summary": "Add a custodian to a case",
        "description": "Adds a custodian to the case by primary SMTP address. Resolve the identity before calling; never guess when several people match a name. Requires explicit reviewer confirmation.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCustodianRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The created custodian.",
            "schema": {
              "$ref": "#/definitions/Custodian"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/custodians/{ediscoveryCustodianId}": {
      "get": {
        "operationId": "GetCustodian",
        "summary": "Get a custodian",
        "description": "Reads a single custodian, including hold status and released date.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ediscoveryCustodianId",
            "in": "path",
            "description": "The ID of the custodian.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Custodian ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The custodian.",
            "schema": {
              "$ref": "#/definitions/Custodian"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/noncustodialDataSources": {
      "get": {
        "operationId": "ListNoncustodialDataSources",
        "summary": "List noncustodial data sources",
        "description": "Lists noncustodial data sources (shared mailboxes, SharePoint sites, Teams locations) attached to the case.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of items to return.",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "Top"
          }
        ],
        "responses": {
          "200": {
            "description": "The noncustodial data sources.",
            "schema": {
              "$ref": "#/definitions/NoncustodialDataSourceCollection"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/searches/{ediscoverySearchId}": {
      "get": {
        "operationId": "GetSearch",
        "summary": "Get a search",
        "description": "Reads a single search including its content query and data source scope. Use this to show the reviewer the exact query before running an estimate or a collection.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ediscoverySearchId",
            "in": "path",
            "description": "The ID of the eDiscovery search.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The search.",
            "schema": {
              "$ref": "#/definitions/EdiscoverySearch"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      },
      "patch": {
        "operationId": "UpdateSearch",
        "summary": "Update a search",
        "description": "Updates the content query, description or data source scope of an existing search. Narrowing or broadening a query changes the meaning of the records request: restate the old and new query and require explicit reviewer confirmation.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ediscoverySearchId",
            "in": "path",
            "description": "The ID of the eDiscovery search.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated search.",
            "schema": {
              "$ref": "#/definitions/EdiscoverySearch"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/reviewSets": {
      "get": {
        "operationId": "ListReviewSets",
        "summary": "List review sets in a case",
        "description": "Lists the review sets in the case.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of items to return.",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "Top"
          }
        ],
        "responses": {
          "200": {
            "description": "The review sets in the case.",
            "schema": {
              "$ref": "#/definitions/ReviewSetCollection"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      },
      "post": {
        "operationId": "CreateReviewSet",
        "summary": "Create a review set",
        "description": "Creates a review set in the case. Reuse an existing review set when one already fits the request rather than creating duplicates.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateReviewSetRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The created review set.",
            "schema": {
              "$ref": "#/definitions/ReviewSet"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/reviewSets/{ediscoveryReviewSetId}": {
      "get": {
        "operationId": "GetReviewSet",
        "summary": "Get a review set",
        "description": "Reads a single review set.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ediscoveryReviewSetId",
            "in": "path",
            "description": "The ID of the review set.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Review Set ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The review set.",
            "schema": {
              "$ref": "#/definitions/ReviewSet"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/reviewSets/{ediscoveryReviewSetId}/addToReviewSet": {
      "post": {
        "operationId": "AddToReviewSet",
        "summary": "Add search results to a review set",
        "description": "Starts collecting the results of a search into a review set. This moves real content and is asynchronous: it returns 202 with a Location header. Poll ListCaseOperations until the operation completes. Requires explicit reviewer confirmation, and the search should be estimated first so the reviewer knows the volume.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ediscoveryReviewSetId",
            "in": "path",
            "description": "The ID of the review set.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Review Set ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddToReviewSetRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The collection into the review set has started.",
            "headers": {
              "Location": {
                "description": "URL of the operation created to handle this request. Poll it for status.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/reviewSets/{ediscoveryReviewSetId}/export": {
      "post": {
        "operationId": "ExportReviewSet",
        "summary": "Export a review set",
        "description": "Starts an export of a review set. This produces the production package and is the most consequential operation in the connector. Never call it without confirmed release approval from authorized records or legal personnel. Asynchronous: returns 202 with a Location header.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ediscoveryReviewSetId",
            "in": "path",
            "description": "The ID of the review set.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Review Set ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportReviewSetRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The export has started.",
            "headers": {
              "Location": {
                "description": "URL of the operation created to handle this request. Poll it for status.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/tags": {
      "get": {
        "operationId": "ListTags",
        "summary": "List review tags in a case",
        "description": "Lists the review tags defined in the case. Use this to discover the organizational tagging schema before applying any tag.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of items to return.",
            "required": false,
            "type": "integer",
            "default": 50,
            "x-ms-summary": "Top"
          }
        ],
        "responses": {
          "200": {
            "description": "The review tags in the case.",
            "schema": {
              "$ref": "#/definitions/ReviewTagCollection"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      },
      "post": {
        "operationId": "CreateTag",
        "summary": "Create a review tag",
        "description": "Creates a review tag in the case. Prefer reusing the existing organizational tagging schema over inventing new tags.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTagRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The created review tag.",
            "schema": {
              "$ref": "#/definitions/ReviewTag"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/operations/{caseOperationId}": {
      "get": {
        "operationId": "GetCaseOperation",
        "summary": "Get a case operation",
        "description": "Reads a single long-running operation, including status, percent progress and any result. Use this to confirm an asynchronous action actually succeeded before reporting it as done.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "caseOperationId",
            "in": "path",
            "description": "The ID of the case operation.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Operation ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The case operation.",
            "schema": {
              "$ref": "#/definitions/CaseOperation"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/security/cases/ediscoveryCases/{ediscoveryCaseId}/legalHolds": {
      "get": {
        "operationId": "ListLegalHolds",
        "summary": "List legal holds in a case",
        "description": "Read-only view of the legal holds in the case, so the reviewer can see what is preserved. Creating and removing holds is deliberately not available through this connector.",
        "parameters": [
          {
            "name": "ediscoveryCaseId",
            "in": "path",
            "description": "The ID of the eDiscovery case.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Case ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of items to return.",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "Top"
          }
        ],
        "responses": {
          "200": {
            "description": "The legal holds in the case.",
            "schema": {
              "$ref": "#/definitions/LegalHoldCollection"
            }
          },
          "default": {
            "description": "Error.",
            "schema": {
              "$ref": "#/definitions/GraphError"
            }
          }
        },
        "x-openai-isConsequential": false
      }
    }
  },
  "definitions": {
    "CreateCaseRequest": {
      "type": "object",
      "required": [
        "displayName"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the case. Use the team's FOIA naming pattern.",
          "x-ms-summary": "Case display name"
        },
        "description": {
          "type": "string",
          "description": "A description of the case, for example the request reference and the requested date range.",
          "x-ms-summary": "Description"
        }
      }
    },
    "CreateSearchRequest": {
      "type": "object",
      "required": [
        "displayName"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the search.",
          "x-ms-summary": "Search display name"
        },
        "description": {
          "type": "string",
          "description": "A description of the search.",
          "x-ms-summary": "Description"
        },
        "contentQuery": {
          "type": "string",
          "description": "The KQL (Keyword Query Language) query string used for the search.",
          "x-ms-summary": "Content query (KQL)"
        },
        "dataSourceScopes": {
          "type": "string",
          "description": "The scope of the search across the tenant.",
          "enum": [
            "none",
            "allTenantMailboxes",
            "allTenantSites",
            "allCaseCustodians",
            "allCaseNoncustodialDataSources"
          ],
          "default": "none",
          "x-ms-summary": "Data source scope"
        }
      }
    },
    "EstimateStatisticsRequest": {
      "type": "object",
      "properties": {
        "statisticsOptions": {
          "type": "string",
          "description": "Comma-separated statistics options. Possible values: includeRefiners, includeQueryStats, includeUnindexedStats, advancedIndexing, locationsWithoutHits. advancedIndexing and locationsWithoutHits are only considered when includeUnindexedStats is set.",
          "default": "includeQueryStats,includeUnindexedStats",
          "x-ms-summary": "Statistics options"
        }
      }
    },
    "EdiscoveryCase": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The case ID."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the case."
        },
        "description": {
          "type": "string",
          "description": "The description of the case."
        },
        "status": {
          "type": "string",
          "description": "The case status, for example active or closed."
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "When the case was created."
        },
        "lastModifiedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "When the case was last modified."
        },
        "closedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "When the case was closed, if applicable."
        },
        "externalId": {
          "type": "string",
          "description": "The external case reference, if set."
        }
      }
    },
    "EdiscoveryCaseCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EdiscoveryCase"
          }
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "Link to the next page of results."
        }
      }
    },
    "EdiscoverySearch": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The search ID."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the search."
        },
        "description": {
          "type": "string",
          "description": "The description of the search."
        },
        "contentQuery": {
          "type": "string",
          "description": "The KQL query string used for the search."
        },
        "dataSourceScopes": {
          "type": "string",
          "description": "The scope of the search across the tenant."
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "When the search was created."
        },
        "lastModifiedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "When the search was last modified."
        }
      }
    },
    "CaseOperation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The operation ID."
        },
        "action": {
          "type": "string",
          "description": "The action the operation performs, for example estimateStatistics."
        },
        "status": {
          "type": "string",
          "description": "The operation status. Possible values include notStarted, submissionFailed, running, succeeded, partiallySucceeded, failed."
        },
        "percentProgress": {
          "type": "integer",
          "description": "Progress of the operation."
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "When the operation was created."
        },
        "completedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "When the operation completed."
        }
      }
    },
    "CaseOperationCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CaseOperation"
          }
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "Link to the next page of results."
        }
      }
    },
    "EstimateStatisticsOperation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The operation ID."
        },
        "action": {
          "type": "string",
          "description": "The action the operation performs."
        },
        "status": {
          "type": "string",
          "description": "The operation status."
        },
        "percentProgress": {
          "type": "integer",
          "description": "Progress of the operation."
        },
        "indexedItemCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of indexed items matching the search."
        },
        "indexedItemsSize": {
          "type": "integer",
          "format": "int64",
          "description": "The total size in bytes of indexed items matching the search."
        },
        "unindexedItemCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of unindexed items matching the search."
        },
        "unindexedItemsSize": {
          "type": "integer",
          "format": "int64",
          "description": "The total size in bytes of unindexed items matching the search."
        },
        "mailboxCount": {
          "type": "integer",
          "description": "The number of mailboxes with hits."
        },
        "siteCount": {
          "type": "integer",
          "description": "The number of sites with hits."
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "When the operation was created."
        },
        "completedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "When the operation completed."
        }
      }
    },
    "GraphError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "description": "The Microsoft Graph error code."
            },
            "message": {
              "type": "string",
              "description": "The Microsoft Graph error message."
            }
          }
        }
      }
    },
    "UpdateCaseRequest": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "New case name.",
          "x-ms-summary": "Case name"
        },
        "description": {
          "type": "string",
          "description": "New case description.",
          "x-ms-summary": "Description"
        },
        "externalId": {
          "type": "string",
          "description": "External case or request number for cross-reference.",
          "x-ms-summary": "External ID"
        }
      }
    },
    "CreateCustodianRequest": {
      "type": "object",
      "required": [
        "email"
      ],
      "properties": {
        "email": {
          "type": "string",
          "description": "The custodian's primary SMTP address.",
          "x-ms-summary": "Email"
        }
      }
    },
    "Custodian": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Custodian ID.",
          "x-ms-summary": "Custodian ID"
        },
        "displayName": {
          "type": "string",
          "description": "Custodian display name.",
          "x-ms-summary": "Display name"
        },
        "email": {
          "type": "string",
          "description": "Custodian primary SMTP address.",
          "x-ms-summary": "Email"
        },
        "status": {
          "type": "string",
          "description": "Custodian status.",
          "x-ms-summary": "Status"
        },
        "holdStatus": {
          "type": "string",
          "description": "Whether a hold is applied to this custodian.",
          "x-ms-summary": "Hold status"
        },
        "createdDateTime": {
          "type": "string",
          "description": "When the custodian was added.",
          "x-ms-summary": "Created",
          "format": "date-time"
        },
        "releasedDateTime": {
          "type": "string",
          "description": "When the custodian was released, if released.",
          "x-ms-summary": "Released",
          "format": "date-time"
        }
      }
    },
    "CustodianCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Custodian"
          }
        }
      }
    },
    "NoncustodialDataSource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Noncustodial data source ID.",
          "x-ms-summary": "Data source ID"
        },
        "displayName": {
          "type": "string",
          "description": "Data source display name.",
          "x-ms-summary": "Display name"
        },
        "status": {
          "type": "string",
          "description": "Data source status.",
          "x-ms-summary": "Status"
        },
        "holdStatus": {
          "type": "string",
          "description": "Whether a hold is applied.",
          "x-ms-summary": "Hold status"
        },
        "createdDateTime": {
          "type": "string",
          "description": "When the data source was added.",
          "x-ms-summary": "Created",
          "format": "date-time"
        }
      }
    },
    "NoncustodialDataSourceCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NoncustodialDataSource"
          }
        }
      }
    },
    "SearchCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EdiscoverySearch"
          }
        }
      }
    },
    "UpdateSearchRequest": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "New search name.",
          "x-ms-summary": "Search name"
        },
        "description": {
          "type": "string",
          "description": "New search description.",
          "x-ms-summary": "Description"
        },
        "contentQuery": {
          "type": "string",
          "description": "New KQL content query. Changing this changes the meaning of the records request - restate it to the reviewer first.",
          "x-ms-summary": "Content query (KQL)"
        },
        "dataSourceScopes": {
          "type": "string",
          "description": "New data source scope.",
          "x-ms-summary": "Data source scopes",
          "enum": [
            "none",
            "allTenantMailboxes",
            "allTenantSites",
            "allCaseCustodians",
            "allCaseNoncustodialDataSources"
          ]
        }
      }
    },
    "CreateReviewSetRequest": {
      "type": "object",
      "required": [
        "displayName"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The review set name.",
          "x-ms-summary": "Review set name"
        }
      }
    },
    "ReviewSet": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Review set ID.",
          "x-ms-summary": "Review set ID"
        },
        "displayName": {
          "type": "string",
          "description": "Review set name.",
          "x-ms-summary": "Review set name"
        },
        "createdDateTime": {
          "type": "string",
          "description": "When the review set was created.",
          "x-ms-summary": "Created",
          "format": "date-time"
        }
      }
    },
    "ReviewSetCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReviewSet"
          }
        }
      }
    },
    "AddToReviewSetRequest": {
      "type": "object",
      "required": [
        "search"
      ],
      "properties": {
        "search": {
          "type": "object",
          "required": [
            "id"
          ],
          "properties": {
            "id": {
              "type": "string",
              "description": "The ID of the search whose results should be collected.",
              "x-ms-summary": "Search ID"
            }
          }
        },
        "additionalDataOptions": {
          "type": "string",
          "description": "Comma-separated extra data to collect. Values: allVersions, linkedFiles, advancedIndexing, listAttachments, htmlTranscripts, messageConversationExpansion, locationsWithoutHits, allItemsInFolder.",
          "x-ms-summary": "Additional data options"
        },
        "itemsToInclude": {
          "type": "string",
          "description": "Which items to include.",
          "x-ms-summary": "Items to include",
          "enum": [
            "searchHits",
            "partiallyIndexed"
          ]
        },
        "cloudAttachmentVersion": {
          "type": "string",
          "description": "How many cloud attachment versions to collect.",
          "x-ms-summary": "Cloud attachment version",
          "enum": [
            "latest",
            "recent10",
            "recent100",
            "all"
          ]
        },
        "documentVersion": {
          "type": "string",
          "description": "How many document versions to collect.",
          "x-ms-summary": "Document version",
          "enum": [
            "latest",
            "recent10",
            "recent100",
            "all"
          ]
        }
      }
    },
    "ExportReviewSetRequest": {
      "type": "object",
      "required": [
        "outputName"
      ],
      "properties": {
        "outputName": {
          "type": "string",
          "description": "Name of the export package.",
          "x-ms-summary": "Output name"
        },
        "description": {
          "type": "string",
          "description": "Description of the export.",
          "x-ms-summary": "Description"
        },
        "exportOptions": {
          "type": "string",
          "description": "Comma-separated format options. Values: originalFiles, text, pdfReplacement, tags, splitSource, includeFolderAndPath, friendlyName, condensePaths. Summary and load files are always included.",
          "x-ms-summary": "Export options"
        },
        "exportStructure": {
          "type": "string",
          "description": "Packaging structure for the export. Prefer pst or msg; directory is deprecated.",
          "x-ms-summary": "Export structure",
          "enum": [
            "none",
            "pst",
            "msg",
            "directory"
          ]
        }
      }
    },
    "CreateTagRequest": {
      "type": "object",
      "required": [
        "displayName"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The tag name.",
          "x-ms-summary": "Tag name"
        },
        "description": {
          "type": "string",
          "description": "The tag description.",
          "x-ms-summary": "Description"
        },
        "childSelectability": {
          "type": "string",
          "description": "Whether child tags are single- or multi-select.",
          "x-ms-summary": "Child selectability",
          "enum": [
            "One",
            "Many"
          ]
        }
      }
    },
    "ReviewTag": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Tag ID.",
          "x-ms-summary": "Tag ID"
        },
        "displayName": {
          "type": "string",
          "description": "Tag name.",
          "x-ms-summary": "Tag name"
        },
        "description": {
          "type": "string",
          "description": "Tag description.",
          "x-ms-summary": "Description"
        },
        "childSelectability": {
          "type": "string",
          "description": "Child selectability.",
          "x-ms-summary": "Child selectability"
        },
        "createdDateTime": {
          "type": "string",
          "description": "When the tag was created.",
          "x-ms-summary": "Created",
          "format": "date-time"
        }
      }
    },
    "ReviewTagCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReviewTag"
          }
        }
      }
    },
    "LegalHold": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Legal hold ID.",
          "x-ms-summary": "Hold ID"
        },
        "displayName": {
          "type": "string",
          "description": "Legal hold name.",
          "x-ms-summary": "Hold name"
        },
        "description": {
          "type": "string",
          "description": "Legal hold description.",
          "x-ms-summary": "Description"
        },
        "status": {
          "type": "string",
          "description": "Hold status.",
          "x-ms-summary": "Status"
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether the hold is currently enabled.",
          "x-ms-summary": "Is enabled"
        },
        "createdDateTime": {
          "type": "string",
          "description": "When the hold was created.",
          "x-ms-summary": "Created",
          "format": "date-time"
        }
      }
    },
    "LegalHoldCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LegalHold"
          }
        }
      }
    }
  }
}
